/*!
 * Bootstrap v5.0.0-beta2 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */

// scss-docs-start import-stack
// Configuration
@import "functions";
@import "variables";
@import "mixins";
@import "utilities";

// Layout & components
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "containers";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "nav";
@import "navbar";
@import "card";
@import "accordion";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "alert";
@import "progress";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";

// Helpers
@import "helpers";

// Utilities
@import "utilities/api";
// scss-docs-end import-stack

body {
  background-color: rgb(29, 86, 104);
}
// barre de Navigation
.navbar {
  background-color: rgb(46, 120, 129);
  box-shadow: 3px 3px 10px;
  border-radius: 0 0 15px 15px;
}
.navbar-brand,
.nav-link {
  color: rgb(196, 196, 196);
}

// Cartes Containère
.container-card {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  justify-content: center;
}

// La Carte
.card {
  box-shadow: 3px 3px 10px;
  border-radius: 15px;
}

.card-img-top {
  border-radius: 15px 15px 0 0;

  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.detail-img{
  height: 30vw;
}

.update_img{
  width: 66%;
  
  object-fit: cover;
}

