<div class="container-fluid bg-dark  p-3">
    <ul class="navbar navbar-dark bg-dark justify-content-evenly list-unstyled">
        <li class="nav-item text-center">
            <a class="nav-link" href="./index.html">Accueil</a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link" href="./list_entreprises.html">Liste des entreprises</a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link" href="./users_list.html">Liste des utilisateurs</a>
        </li>
    </ul>
</div>