<?php 
session_start()
?>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand text-warning" href="./index.html">Les Bonnes Pages</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item text-center">
            <a class="nav-link" href="./list_entreprises.html">Liste des entreprises</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="./users_list.html">Liste des utilisateurs</a>
          </li>
          <?php
              if(isset($_SESSION['user'])){
                echo '
                <li class="nav-item text-center">
                <a class="nav-link" href="./entreprises.html">Ajouter une entreprise</a>
                </li>
                ';
              }; 
              if(!isset($_SESSION['user'])){
                echo '
                <li class="nav-item text-center">
                <a class="nav-link" href="./users_add_form.html">S\'inscrire</a>
                </li>
                ';
              };
              if(isset($_SESSION['user'])){
                echo '
                <li class="nav-item text-center">
                <a class="nav-link" href="./category_add_view.html">Ajouter une catégorie</a>
                </li>
                ';
              }; 
              if(isset($_SESSION['user'])){
                echo '
                <li class="nav-item text-center">
                <a class="nav-link" href="./category_list.html">Liste des Catégories</a>
                </li>
                ';
              };
              if(isset($_SESSION['user'])){
                echo '
                <li class="nav-item text-center">
                <a class="nav-link" href="./link_category_entreprise_view.html">Lier Catégorie / Entreprise</a>
                </li>
                ';
              };
              if(!isset($_SESSION['user'])){
                echo '
              <li class="nav-item text-center">
                <a class="nav-link btn btn-warning text-dark mx-2" href="./login.html">Se Connecter</a>
              </li>';
              };
              if(isset($_SESSION['user'])){
                echo '
              <li class="nav-item text-center">
                <a class="nav-link btn btn-warning text-dark mx-2" href="./logout.php">'.$_SESSION['user']['pseudo'].' - Déconnexion</a>
              </li>';
              };
          ?>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Rechercher">
          <button class="btn btn-outline-light" type="submit">Rechercher</button>
        </form>
      </div>
    </div>
  </nav>

